@import 'tailwindcss';
@import '@fontsource/fira-mono';
@plugin '@tailwindcss/forms';

label {
	@apply text-[#94AECA] font-semibold text-base;
}

input {
    @apply  border-[#073216] rounded-lg
}

select {
    @apply border-[#073216] rounded-lg
}

p{
    @apply text-[#0f2037]
}

h2{ 
    @apply p-3 text-[#3aab30] text-shadow-2xs font-semibold text-2xl
}